@import url(variables.css);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  background-color: var(--color-purple-700);
  color: var(--color-white);
  
}

.huddle {
  font-family: var(--font-family-primary);
  font-weight: var(--font-weight-regular);
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 1.5rem;
  padding: 2.2rem;
}

.huddle__bg-mobile {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

.huddle__bg-desktop {
  display: none;
}

.huddle__logo {
  display: flex;
  justify-content: flex-start;
  width: 120px;
  height: auto;
  margin-bottom: 64px;
}

.huddle__illustration {
  width: 100%;
  height: auto;
  margin-bottom: 56px;
}

.huddle__content {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
}

.huddle__title {
  font-family: var(--font-family-primary);
  font-size: 24px;
  line-height: 1.25;
  font-weight: var(--font-weight-semi-bold);
  margin-bottom: 24px
}

.huddle__text {
  font-family: var(--font-family-secondary);
  font-weight: var(--font-weight-regular);
  font-size: 16px;
  line-height: 1.5;
  color: var(--color-gray-100);
  margin-bottom: 32px;
}

.huddle__button {
  padding: 12px 24px;
  border: none;
  background-color: var(--color-white);
  color: var(--color-purple-700);
  font-size: 12px;
  font-weight: var(--font-weight-regular);
  border-radius: 20px;
  width: 200px;
  cursor: pointer;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  margin-bottom: 32px;
}

.huddle__button:hover {
  background-color: var(--color-magenta-400);
  color: var(--color-white);
  transition: background-color 0.3s ease;
}

.huddle__socials {
  justify-content: center;
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
}

.huddle__icon {
  fill: var(--color-white);
  width: 28px;
  height: 28px;
  transition: fill 0.3s ease;
  cursor: pointer;
  border: 1px solid var(--color-white);
  border-radius: 50%;
  padding: 5px;
}

.huddle__icon:hover {
  border: 1px solid var(--color-pink-400);
  fill: var(--color-pink-400);
  transition: fill 0.3s ease;
}

.attribution {
  font-family: var(--font-family-primary);
  margin: 1rem 0;
  font-size: 9px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
